<div class="card h-100 lounge-card">
  <img
    [src]="lounge.image"
    class="card-img-top lounge-img"
    alt="Image{{ i }}"
  />
  <div class="card-body lounge-desc d-flex flex-column">
    <h5 class="card-title pe-3 fw-light">{{ lounge.name }}</h5>
    <div class="mt-auto">
      <hr />
      <p class="card-text">
        <a
          href="#"
          class="cursor-pointer stretched-link icon-link lounge-links fw-medium"
          (click)="loungeDetails(lounge.name)"
        >
          {{ lounge.description }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
            />
          </svg>
        </a>
      </p>
    </div>
  </div>
</div>
